h1 {
    font-size: 250%;
    font-family: Verdana, Arial, Helvetica, sans-serif, sans-serif;
    color: black;
    text-align: center;
}
P { text-align: center }
H2 { text-align: center }
div.dog {
    width: 50%;
    float: left;
}
#cat {
    margin-bottom: 200px;
    text-align: center;
}
#goat {
    text-align: center;
    bottom: 0px;
}
* {
    font-family: Verdana, Arial, Helvetica, sans-serif, sans-serif;
    font-size: 100%;
}
h3 {
    font-size: 250%;
    font-family: Verdana, Arial, Helvetica, sans-serif, sans-serif;
    color: black;
    text-align: center;
}

h4 {
    font-size: 250%;
    font-family: Verdana, Arial, Helvetica, sans-serif, sans-serif;
    color: black;
    text-align: center;
}